config-home {
  display: flex;
}

config-home category-box section {
  display: flex;
  margin-bottom: 10px;
}

config-home category-box label {
  margin-right: 5px;
}

config-home category-box check-box {
  display: block;
}
