admin-home {
  display: flex;
}

admin-sidebar {
  min-width: 200px;
  max-width: 300px;
  background: var(--light-background);
}

admin-home ul {
  list-style: none;
  height: 100vh;
  margin: 0;
  padding: 0;
}
admin-home li {
  color: white;
  padding: 20px;
  border-bottom: 2px solid var(--accent);
  cursor: pointer;
}

admin-container {
  display: block;
  flex: 1;
}
