mod-chat {
  padding-bottom: 10px;
}
mod-chat chat-header {
  display: block;
  width: 100%;
  text-align: center;
  font: bold 10px/12px Lato;
  background: #19181c;
  border: 1px solid #201f22;
  padding: 7px;
  color: white;
}
mod-chat chat-box {
  display: block;
  flex: 1;
  margin-bottom: 5px;
  padding: 5px;
  overflow-y: auto;
}
mod-chat chat-message {
  display: block;
  margin-bottom: 5px;
  color: white;
}
mod-chat username {
  color: #6441a4;
  font-weight: bold;
}
mod-chat chat-message-box {
  display: block;
  padding: 0 10px;
}
mod-chat textarea {
  resize: none;
  border: 1px solid #59399a;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0px 2px 4px #59399a;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  color: white;
  outline: none;
}

mod-chat button {
  text-align: center;
  font: bold 15px/19px Montserrat;
  background: #59399a;
  border-radius: 5px;
  padding: 5px 30px;
  float: right;
}
