mod-column {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 291px;
  position: relative;
}

mod-column tab-area {
  display: flex;
  justify-content: space-around;
}

mod-column tab {
  color: white;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  padding: 18px 0 14px;
}

mod-column tab.active {
  color: var(--purple);
  border-bottom: 3px solid var(--purple);
}

mod-chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mod-panel {
  background: dodgerblue;
  position: absolute;
  top: 0;
  left: 291px;
  width: calc(100vw - 291px);
  height: 100vh;
}
