select-input {
  position: relative;
}
select-input i {
  position: absolute;
  right: 0;
  top: 0;
}

select-input input-area {
  display: inline-block;
}
select-input select-display {
  display: block;
  padding-right: 13px;
}

select-input select-options {
  display: block;
  position: absolute;
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
select-input select-option {
  display: block;
}
select-input select-option:hover {
  background: lightgrey;
}
