choose-channel {
  padding: 112px 110px;
}
choose-channel h1 {
  font: Montserrat sans-serif;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
  margin-bottom: 110px;
}
channel-grid {
  display: flex;
  justify-content: space-evenly;
}
admin-button {
  background-image: url('/assets/code-background.png');
}

channel-button,
admin-button {
  width: 241px;
  height: 335px;
  position: relative;
  background-position: -5px;
  border-radius: 10px;
}
channel-button-overlay {
  background-color: #59399a23;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
channel-button-overlay name-area {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.28);
  color: #ffffff;
  width: 100%;
  height: 56px;
  padding: 15px 14px 15px;
  font-size: 22px;
  line-height: 27px;
}
