login- h1 {
  font-size: 50px;
  text-align: center;
  line-height: 61px;
  font-weight: normal;
  color: white;
}

login- p {
  font-size: 20px;
  text-align: center;
  color: white;
}

login- button {
  display: block;
  margin: auto;
  width: 223px;
  height: 223px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  background: #59399a;
  box-shadow: 0 3px 20px #5c008280;
  outline: none !important;
}
