@font-face {
  font-family: 'Mervale Script';
  src: url('/assets/mervale-script/MervaleScript-Regular.otf');
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #0e0d10;
  color: white;
}

table {
  border-spacing: 0;
  width: 100%;
}
table thead > tr > th {
  border-bottom: 1px solid black;
}

button {
  padding: 5px;
  color: white;
  background-color: #6441a4;
  border: none;
  border-radius: 5px;
}
button.warn {
  background-color: goldenrod;
}

button.danger {
  background-color: #f04747;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  color: inherit;
}

router-outlet {
  display: block;
}
@import './alerts.css';
@import './popup.css';
@import './toolbar.css';
@import './home.css';
@import './admin/index.css';
@import './bricks/index.css';
@import './commands/index.css';
@import './config/index.css';
@import './login/index.css';
