popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
}

popup-content {
  position: fixed;
  width: 50vw;
  min-height: 25vh;
  max-height: 75vh;
  top: 15%;
  left: 50%;
  margin-left: -25vw;
  background: #232127;
  padding: 20px;
}
