toolbar- {
  display: block;
  background-color: #6441a4;
  color: white;
  padding: 20px;
  font-size: 22px;
}
toolbar- avatar {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: -20px 0;
  overflow: hidden;
}
toolbar- img {
  width: 100%;
}

toolbar-item {
  cursor: pointer;
  margin: 0 10px;
}
