command-list {
  display: block;
}

command-list hint-text {
  display: block;
  text-align: center;
  font-size: 20px;
  color: grey;
  margin-bottom: 10px;
}

command-item {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 10px;
}

command-item.disabled {
  color: rgba(0, 0, 0, 0.3);
}

command-item info-area {
  flex: 1;
}

command-item item-name {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

command-item item-response {
  display: block;
  font-size: 14px;
}

command-item item-description {
  display: block;
  font-size: 14px;
  font-style: italic;
}

command-item item-cooldown {
  display: block;
  font-size: 14px;
}

command-item item-creator {
  display: block;
  font-size: 12px;
}

command-item action-area {
  display: block;
}

command-item action-item {
  display: block;
  clear: both;
  padding: 5px;
}

command-item action-name,
command-item check-box,
command-item button {
  display: block;
  float: right;
}

command-item action-name {
  padding-right: 5px;
}
